# IDEA
*.iml
/.idea

# Gradle
/.gradle
/build
/reports

# Gradle Android
/local.properties
/captures

# Release app signing
/upload.keystore
/upload-keystore.properties

# Java KeyStore
*.jks

# OSX
.DS_Store

#UI unzipped files
/app/src/main/assets/ui/
