<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="pl.gov.mc.protegosafe.AppWithHelpers"
        tools:replace="android:name">
        <activity android:name="pl.gov.mc.protegosafe.ui.TestHelpersActivity" />
    </application>
</manifest>