<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.thecoders.safesafe"
    >

  <application
      android:allowBackup="true"
      android:fullBackupContent="@xml/backup_content"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/appName"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.AppCompat.NoActionBar"
      >

    <meta-data
        android:name="asset_statements"
        android:resource="@string/assetStatements"
        />
    <meta-data
        android:name="cros_web_alternative"
        android:value="@string/crosLaunchUrl"
        />

    <activity
        android:name="com.google.androidbrowserhelper.trusted.LauncherActivity"
        android:label="@string/appName"
        >
      <meta-data
          android:name="android.support.customtabs.trusted.DEFAULT_URL"
          android:value="@string/launchUrl"
          />

      <meta-data
          android:name="android.support.customtabs.trusted.STATUS_BAR_COLOR"
          android:resource="@color/colorPrimary"
          />

      <meta-data
          android:name="android.support.customtabs.trusted.NAVIGATION_BAR_COLOR"
          android:resource="@color/navigationColor"
          />


      <meta-data
          android:name="android.support.customtabs.trusted.SPLASH_SCREEN_BACKGROUND_COLOR"
          android:resource="@color/backgroundColor"
          />

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
            android:host="@string/hostName"
            android:scheme="https"
            />
      </intent-filter>
    </activity>

    <activity android:name="com.google.androidbrowserhelper.trusted.FocusActivity" />

    <service
        android:name="com.google.androidbrowserhelper.trusted.DelegationService"
        android:enabled="@bool/enableNotification"
        android:exported="@bool/enableNotification"
        >

      <intent-filter>
        <action android:name="android.support.customtabs.trusted.TRUSTED_WEB_ACTIVITY_SERVICE" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </service>

  </application>

</manifest>
